# DB

DATABASE_URL="postgresql://usuario:password@host/dbname?sslmode=require"
DB_USER="postgres"
DB_PASSWORD=""
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_NAME="my_page"

# Email config
CONTACT_EMAIL=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

# Later phases
NEXT_PUBLIC_SITE_URL="https://jb-frontend-developer.vercel.app"
GITHUB_USERNAME=""
GITHUB_TOKEN=""
VERCEL_TOKEN=""
VERCEL_TEAM_ID=""
GEMINI_API_KEY=""
ADMIN_PASSWORD=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_R2_ENDPOINT=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_BUCKET="my-page"
CLOUDFLARE_PUBLIC_ASSETS_URL=""
